*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 55%; } }

body {
  background: #1b242f;
  background: linear-gradient(0deg, #1b242f 0%, black 100%);
  box-sizing: border-box; }

.heading-1, .heading-2, .heading-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

body {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5; }

.heading-1 {
  color: #efefef;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.7rem; }
  @media only screen and (max-width: 31.25em) {
    .heading-1 {
      font-size: 3.5rem; } }

.heading-2 {
  color: #5e8aa4;
  font-size: 3.2rem;
  font-weight: 700; }
  @media only screen and (max-width: 31.25em) {
    .heading-2 {
      font-size: 2.8rem; } }

.heading-3 {
  color: #c0c0c0;
  font-size: 2.3rem;
  font-weight: 700; }

.u-text-center {
  text-align: center !important; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-md {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 3rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 5rem !important; }

.u-margin-top-sm {
  margin-top: 1.5rem !important; }

.u-margin-top-md {
  margin-top: 2.5rem !important; }

.u-margin-top-lg {
  margin-top: 3rem !important; }

.btn:link, .btn:visited {
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 3.5rem;
  position: relative;
  text-decoration: none; }

.btn:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn:active {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  outline: none;
  transform: translateY(3px); }

.contact {
  background-image: linear-gradient(100deg, white 0%, white 50%, #2a3840 50%);
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  color: #909090;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 30rem;
  width: 100%; }
  @media only screen and (max-width: 43.75em) {
    .contact {
      background-image: linear-gradient(180deg, white 0%, white 50%, #2a3840 50%);
      border-radius: 0;
      grid-template-columns: 1fr;
      height: 45rem;
      padding: 2rem; } }
  .contact__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center; }
    @media only screen and (max-width: 43.75em) {
      .contact__info {
        max-height: 18rem; } }
  .contact__email {
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: bold; }
    .contact__email a {
      color: #5e8aa4;
      text-decoration: none;
      transition: opacity 0.2s; }
      .contact__email a:hover {
        opacity: 0.8;
        text-decoration: underline; }
    .contact__email i {
      color: #2a3840; }
  .contact__social-item {
    display: inline-block;
    list-style: none; }
    .contact__social-item:not(:last-child) {
      margin-right: 2rem; }
  .contact__social-icon {
    color: #fff; }
  .contact__social-link:hover .contact__social-icon {
    color: #5e8aa4; }
  .contact__dev-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.project__preview {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative; }
  .project__preview:hover .project__thumbnail {
    filter: blur(3px) brightness(80%);
    transform: scale(1.1); }
  .project__preview:hover .project__links {
    opacity: 1;
    transform: translate(-50%, -50%); }

.project__thumbnail {
  border-radius: 2px;
  display: block;
  transition: all 0.5s;
  width: 100%; }

.project__links {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 200%);
  transition: all 0.5s; }

.project__project-link {
  cursor: pointer; }
  .project__project-link:not(:last-child) {
    margin-right: 2rem; }
  .project__project-link i {
    color: #fff; }
  .project__project-link:hover i {
    color: #c0c0c0; }

.project__title {
  padding: 1.5rem 0 1rem 0; }

.footer {
  align-items: center;
  background-color: #1b242f;
  display: flex;
  grid-column: full-start / full-end;
  grid-row: 6 / 7;
  justify-content: space-between;
  padding: 5rem; }
  .footer__back-to-top:hover .footer__icon {
    color: #909090; }
  .footer__icon {
    color: #c0c0c0; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: 70vh min-content 80rem 6rem; }
  @media only screen and (max-width: 43.75em) {
    .container {
      grid-template-rows: 100vh min-content 80rem 6rem; } }

.header {
  display: grid;
  grid-column: full-start / full-end;
  justify-items: center; }
  .header__title-box {
    width: 60%; }
    @media only screen and (max-width: 43.75em) {
      .header__title-box {
        width: 80%; } }
    @media only screen and (max-width: 31.25em) {
      .header__title-box {
        width: 90%; } }
  .header__text {
    font-size: 1.9rem;
    font-style: italic;
    margin-bottom: 2rem; }

.navigation__link, .navigation__name a {
  color: #fff;
  text-decoration: none; }

.navigation {
  background-color: transparent;
  height: 8rem;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  z-index: 1000;
  /* MOBILE MENU */
  /* MOBILE FUNCTIONALITY */ }
  .navigation__nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 2rem 3rem; }
  .navigation__btn {
    cursor: pointer;
    display: none;
    height: 7rem;
    width: 7rem; }
    @media only screen and (max-width: 43.75em) {
      .navigation__btn {
        align-items: center;
        display: flex;
        justify-content: center; } }
  .navigation__icon {
    display: none;
    position: relative;
    transition: all 0.5s; }
    @media only screen and (max-width: 43.75em) {
      .navigation__icon {
        display: inline-block; } }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      background-color: #fff;
      height: 2px;
      width: 5rem; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      left: 0;
      position: absolute; }
    .navigation__icon::before {
      top: -1.5rem; }
    .navigation__icon::after {
      top: 1.5rem; }
    .navigation__icon--open, .navigation__icon--open::before, .navigation__icon--open::after {
      background-color: #909090; }
  .navigation__menu {
    display: flex;
    height: 100%;
    list-style: none; }
    @media only screen and (max-width: 43.75em) {
      .navigation__menu {
        display: none; } }
  .navigation__item {
    align-items: center;
    cursor: pointer;
    display: flex; }
    .navigation__item:hover > a {
      color: #5e8aa4; }
    .navigation__item:not(:last-child) {
      margin-right: 1rem; }
  .navigation__link {
    text-transform: uppercase; }
  .navigation__name {
    align-items: center;
    display: flex;
    height: 100%; }
    .navigation__name a {
      color: #efefef;
      text-transform: none; }
    .navigation__name h2 {
      font-family: "Montserrat Alternates", sans-serif; }
    .navigation__name:hover > h3 a {
      color: #5e8aa4; }
  @media only screen and (max-width: 43.75em) {
    .navigation__name--mobile a {
      color: #909090; } }
  .navigation--scroll {
    background-color: rgba(27, 36, 47, 0.9);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    height: 6rem; }
    .navigation--scroll .navigation__name h3 {
      font-size: 2rem; }
  @media only screen and (max-width: 43.75em) {
    .navigation--mobile-bg {
      background-color: #efefef;
      border-bottom: 1px solid #c0c0c0; } }
  .navigation__mobile {
    background-color: #efefef;
    display: none;
    height: 25rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: -27rem;
    transition: all 0.5s;
    width: 100%; }
    @media only screen and (max-width: 43.75em) {
      .navigation__mobile {
        display: block; } }
  .navigation__mobile-menu {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100%; }
  .navigation__mobile-item {
    cursor: pointer;
    display: flex;
    height: 100%;
    padding-left: 3rem; }
    .navigation__mobile-item:hover {
      background-color: white; }
    .navigation__mobile-item:not(:last-child) {
      border-bottom: 1px solid #c0c0c0; }
  .navigation__mobile-link {
    align-items: center;
    color: #666666;
    display: flex;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; }
  .navigation__checkbox {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__mobile {
    opacity: 1;
    top: 8rem; }
  .navigation__checkbox:checked ~ .navigation__mobile--scroll {
    top: 6rem; }
  .navigation__checkbox:checked ~ .navigation__btn .navigation__icon {
    transform: rotate(45deg); }
  .navigation__checkbox:checked ~ .navigation__btn .navigation__icon::before,
  .navigation__checkbox:checked ~ .navigation__btn .navigation__icon::after {
    top: 0;
    transform: rotate(90deg); }

.active {
  color: #5e8aa4; }

.anchor {
  display: block;
  position: relative;
  top: -9rem;
  visibility: hidden; }

.section-projects {
  background-color: #2a3840;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  grid-column: full-start / full-end;
  padding: 5rem 2rem;
  margin: 0; }
  @media only screen and (max-width: 31.25em) {
    .section-projects {
      margin: 5rem 0; } }
  .section-projects__projects {
    display: grid;
    grid-column: center-start / center-end;
    grid-gap: 5rem;
    grid-template-columns: repeat(3, minmax(15rem, 30rem));
    justify-content: center; }
    @media only screen and (max-width: 62.5em) {
      .section-projects__projects {
        grid-template-columns: repeat(2, minmax(15rem, 30rem)); } }
    @media only screen and (max-width: 43.75em) {
      .section-projects__projects {
        grid-template-columns: minmax(15rem, 30rem); } }

.section-contact {
  align-content: center;
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: minmax(min-content, 75rem);
  justify-content: center; }
  @media only screen and (max-width: 43.75em) {
    .section-contact {
      grid-column: full-start / full-end; } }
