*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-1, .heading-2, .heading-3 {
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff; }

.heading-1 {
  font-size: 4rem; }

.heading-2 {
  font-size: 3.2rem;
  font-weight: 400; }

.heading-3 {
  font-size: 2.3rem;
  font-weight: 700; }

.u-text-center {
  text-align: center !important; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-md {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 3rem !important; }

.u-margin-top-sm {
  margin-top: 1.5rem !important; }

.u-margin-top-md {
  margin-top: 2.5rem !important; }

.u-margin-top-lg {
  margin-top: 3rem !important; }

.btn:link, .btn:visited {
  font-size: 2rem;
  color: #c0c0c0;
  padding: 1rem 3.5rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: none; }

.btn:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn:active {
  outline: none;
  transform: translateY(3px);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5); }

.btn--cta {
  background-color: #28411c;
  transition: all 0.2s; }
  .btn--cta:hover {
    background-color: #3d622b;
    color: #fff; }

.footer {
  background-color: #28411c;
  grid-row: 7 / 8;
  grid-column: full-start / full-end; }

.container {
  display: grid;
  grid-template-rows: 6rem 60vh repeat(4, min-content) 6rem;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] 14rem [col-end]) [center-end] 1fr [full-end]; }

.header {
  background-color: #1c2841;
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  display: grid;
  justify-items: center;
  align-items: center; }
  .header__title-box {
    width: 60%;
    margin-top: -10%; }

.navigation {
  background-color: #c0c0c0;
  grid-row: 1 / 2;
  grid-column: full-start / full-end; }

.section-about {
  background-color: #411c28;
  grid-row: 3 / 4;
  grid-column: center-start / center-end; }

.section-projects {
  background-color: #3a5283;
  grid-row: 4 / 5;
  grid-column: center-start / center-end; }

.section-skills {
  background-color: #622b3d;
  grid-row: 5 / 6;
  grid-column: center-start / center-end; }

.section-contact {
  background-color: #3d622b;
  grid-row: 6 / 7;
  grid-column: center-start / center-end; }
