// COLORS
$color-primary: #1c2841;
$color-primary-light: #3a5283;

$color-secondary: #411c28;
$color-secondary-light: #622b3d;

$color-tertiary: #28411c;
$color-tertiary-light: #3d622b;

$color-grey-light: #c0c0c0;
$color-grey-lighter: #efefef;
$color-grey-dark: #909090;

$color-white: #fff;
$color-black: #000;

// FONTS
$default-font-size: 1.6rem;
$font-heading: "Oxygen", sans-serif;
$font-default: "Source Sans Pro", sans-serif;
