// COLORS
$color-primary: #1b242f;
$color-secondary: #5e8aa4;
$color-tertiary: #2a3840;

$color-grey-light: #c0c0c0;
$color-grey-lighter: #efefef;
$color-grey-dark: #909090;

$color-white: #fff;
$color-black: #000;

// FONTS
$default-font-size: 1.6rem;
$font-heading: "Oxygen", sans-serif;
$font-default: "Source Sans Pro", sans-serif;

// MEDIA QUERIES
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px
$bp-small: 43.75em; // 700px
$bp-smallest: 31.25em; // 500px
