.footer {
  align-items: center;
  background-color: $color-primary;
  display: flex;
  grid-column: full-start / full-end;
  grid-row: 6 / 7;
  justify-content: space-between;
  padding: 5rem;

  &__back-to-top:hover &__icon {
    color: $color-grey-dark;
  }

  &__icon {
    color: $color-grey-light;
  }
}
