.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: 70vh 30vh repeat(2, min-content) 80rem 6rem;
}
