.container {
  display: grid;
  grid-template-rows: 60vh repeat(4, min-content) 6rem 100vh;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(8, [col-start] 14rem [col-end])
    [center-end] 1fr [full-end];
}
