.header {
  align-items: center;
  display: grid;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  justify-items: center;

  &__title-box {
    width: 60%;

    @media only screen and (max-width: $bp-small) {
      width: 80%;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 90%;
    }
  }
}
