%link {
  text-decoration: none;
  color: $color-white;

  &:hover {
    color: $color-grey-light;
  }
}

.navigation {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  transition: all 0.5s;
  z-index: 1000;

  &__nav {
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    display: none;
  }

  &__btn {
    width: 7rem;
    height: 7rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: none;
    position: relative;

    @media only screen and (max-width: $bp-small) {
      display: inline-block;
    }

    &,
    &::before,
    &::after {
      width: 5rem;
      height: 2px;
      background-color: $color-white;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -1.5rem;
    }

    &::after {
      top: 1.5rem;
    }
  }

  &__menu {
    list-style: none;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    @extend %link;
    text-transform: uppercase;
  }

  &__name a {
    @extend %link;
    text-transform: none;
  }

  &--scroll {
    background-color: rgba($color-primary-light, 0.9);
    height: 6rem;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);

    .navigation__name h2 {
      font-size: 2.5rem;
    }
  }
}

.active {
  color: $color-grey-light;
}

.anchor {
  display: block;
  visibility: hidden;
  position: relative;
  top: -9rem;
}
