%link {
  color: $color-white;
  text-decoration: none;
}

.navigation {
  background-color: transparent;
  height: 8rem;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  z-index: 1000;

  &__nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 2rem 3rem;
  }

  &__btn {
    cursor: pointer;
    display: none;
    height: 7rem;
    width: 7rem;

    @media only screen and (max-width: $bp-small) {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &__icon {
    display: none;
    position: relative;
    transition: all 0.5s;

    @media only screen and (max-width: $bp-small) {
      display: inline-block;
    }

    &,
    &::before,
    &::after {
      background-color: $color-white;
      height: 2px;
      width: 5rem;
    }

    &::before,
    &::after {
      content: "";
      left: 0;
      position: absolute;
    }

    &::before {
      top: -1.5rem;
    }

    &::after {
      top: 1.5rem;
    }

    &--open,
    &--open::before,
    &--open::after {
      background-color: $color-grey-dark;
    }
  }

  &__menu {
    display: flex;
    height: 100%;
    list-style: none;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__item {
    align-items: center;
    cursor: pointer;
    display: flex;

    &:hover > a {
      color: $color-secondary;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    @extend %link;
    text-transform: uppercase;
  }

  &__name {
    align-items: center;
    display: flex;
    height: 100%;

    a {
      @extend %link;
      color: $color-grey-lighter;
      text-transform: none;
    }

    h2 {
      font-family: "Montserrat Alternates", sans-serif;
    }

    &:hover > h3 a {
      color: $color-secondary;
    }
  }

  &__name--mobile a {
    @media only screen and (max-width: $bp-small) {
      color: $color-grey-dark;
    }
  }

  &--scroll {
    background-color: rgba($color-primary, 0.9);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
    height: 6rem;

    .navigation__name h3 {
      font-size: 2rem;
    }
  }

  &--mobile-bg {
    @media only screen and (max-width: $bp-small) {
      background-color: $color-grey-lighter;
      border-bottom: 1px solid $color-grey-light;
    }
  }

  /* MOBILE MENU */
  &__mobile {
    background-color: $color-grey-lighter;
    display: none;
    height: 25rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: -27rem;
    transition: all 0.5s;
    width: 100%;

    @media only screen and (max-width: $bp-small) {
      display: block;
    }
  }

  &__mobile-menu {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
  }

  &__mobile-item {
    cursor: pointer;
    display: flex;
    height: 100%;
    padding-left: 3rem;

    &:hover {
      background-color: lighten($color-grey-lighter, 10%);
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light;
    }
  }

  &__mobile-link {
    align-items: center;
    color: lighten($color-black, 40%);
    display: flex;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }

  /* MOBILE FUNCTIONALITY */
  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__mobile {
    opacity: 1;
    top: 8rem;
  }

  &__checkbox:checked ~ &__mobile--scroll {
    top: 6rem;
  }

  &__checkbox:checked ~ &__btn &__icon {
    transform: rotate(45deg);
  }

  &__checkbox:checked ~ &__btn &__icon::before,
  &__checkbox:checked ~ &__btn &__icon::after {
    top: 0;
    transform: rotate(90deg);
  }
}

.active {
  color: $color-secondary;
}

.anchor {
  display: block;
  position: relative;
  top: -9rem;
  visibility: hidden;
}
