# dependencies
/node_modules
package-lock.json

# full-size images
/img/portfolio-project-1.jpg
/img/portfolio-project-2.jpg
/img/portfolio-project-3.jpg
/img/portfolio-project-4.jpg
/img/portfolio-project-5.jpg
/img/portfolio-project-6.jpg