.btn {
  &:link,
  &:visited {
    border: none;
    border-radius: 2px;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;

    padding: 1rem 3.5rem;
    position: relative;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
  }

  &:active {
    box-shadow: 0 0.25rem 0.5rem rgba($color-black, 0.5);
    outline: none;
    transform: translateY(3px);
  }

  &--cta {
    background-color: $color-tertiary-light;
    text-transform: uppercase;
    transition: all 0.2s;

    &:hover {
      background-color: lighten($color-tertiary-light, 10%);
    }
  }

  &--expand {
    border-bottom: 1px solid;
    color: $color-tertiary-lighter;
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    line-height: 1.2;
    text-decoration: none;

    &:hover {
      color: lighten($color-tertiary-lighter, 10%);
    }
  }
}
