.btn {
  &:link,
  &:visited {
    font-size: 2rem;
    color: $color-white;
    padding: 1rem 3.5rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border-radius: 2px;

    cursor: pointer;
    border: none;
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
  }

  &:active {
    outline: none;
    transform: translateY(3px);
    box-shadow: 0 0.25rem 0.5rem rgba($color-black, 0.5);
  }

  &--cta {
    background-color: $color-tertiary-light;
    transition: all 0.2s;

    &:hover {
      background-color: lighten($color-tertiary-light, 10%);
    }
  }
}
