.contact {
  background-image: linear-gradient(
    100deg,
    rgba($color-white, 1) 0%,
    rgba($color-white, 1) 50%,
    rgba($color-tertiary, 1) 50%
  );
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
  color: $color-grey-dark;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 30rem;
  width: 100%;

  @media only screen and (max-width: $bp-small) {
    background-image: linear-gradient(
      180deg,
      rgba($color-white, 1) 0%,
      rgba($color-white, 1) 50%,
      rgba($color-tertiary, 1) 50%
    );
    border-radius: 0;
    grid-template-columns: 1fr;
    height: 45rem;
    padding: 2rem;
  }

  &__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  &__email {
    font-size: 2.2rem;
    font-weight: bold;
  }

  &__social-item {
    display: inline-block;
    list-style: none;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__social-icon {
    color: $color-tertiary;
  }

  &__social-link:hover &__social-icon {
    color: $color-secondary;
  }

  &__dev-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__portrait-frame {
    height: 150px;
    position: relative;
    width: 150px;

    @media only screen and (max-width: $bp-small) {
      width: 100px;
      height: 100px;
    }
  }

  &__portrait-overlay {
    background-color: rgba($color-black, 0.2);
    border-radius: 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  &__portrait {
    border: 2px solid $color-secondary;
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__name,
  &__role {
    color: $color-white;
  }
}
