.feature {
  color: $color-white;
  display: flex;
  padding: 2rem;

  @media only screen and (max-width: $bp-large) {
    justify-content: center;
  }

  @media only screen and (max-width: $bp-small) {
    justify-content: flex-start;
  }

  &__img {
    border-right: 1px solid $color-grey-light;
    margin-right: 1rem;
    padding-right: 1rem;

    &--mobile {
      padding: 0 6px;
    }
  }

  &__title {
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.8rem;
  }

  &--top {
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
    }
  }
}
