.feature {
  padding: 2rem;
  display: flex;
  color: $color-grey-light;

  &__img {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid $color-grey-light;
  }

  &__title {
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.8rem;
  }
}
