.skills-node {
  display: grid;
  justify-items: center;
  position: relative;

  &--javascript {
    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &--mongo {
    @media only screen and (max-width: $bp-smallest) {
      grid-row: 5 / 6;
    }
  }

  &__shape {
    align-items: center;
    background-color: $color-grey-lighter;
    border: 0.5rem solid $color-grey-dark;
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.5rem rgba($color-black, 0.2);
    display: flex;
    height: 15rem;
    justify-content: center;
    padding: 1rem;
    position: relative;
    transition: all 0.5s ease-out;
    width: 15rem;
    z-index: 100;
  }

  &__img {
    width: 80%;

    &--sm {
      width: 100%;
    }

    &--lg {
      width: 60%;
    }
  }

  &__description {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 108%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;

    &--top {
      top: -8%;
    }

    &--react,
    &--css {
      @media only screen and (max-width: $bp-smallest) {
        top: -8%;
      }
    }
  }

  &__connector {
    background-color: $color-grey-dark;
    height: 1rem;
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    transition: all 0.5s ease-out;
    width: 20rem;

    &--vertical {
      top: 100%;
      transform: translateX(-50%) rotate(90deg);
      width: 25rem;
    }

    &--horizontal {
      @media only screen and (max-width: $bp-smallest) {
        top: 100%;
        transform: translateX(-50%) rotate(90deg);
        width: 25rem;
      }
    }
  }
}

.skills-hover-styles {
  box-shadow: 0 0 3rem rgba($color-tertiary-light, 0.8);
}
