// reset default browser styles

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-small) {
    font-size: 55%;
  }
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba($color-primary, 0.8),
      rgba($color-primary, 0.8)
    ),
    url("https://res.cloudinary.com/mtninja/image/upload/v1587495323/portfolio/milky-way_-_resized_compressed.jpg");
  background-size: cover;
  box-sizing: border-box;
}
