// reset default browser styles

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
      rgba($color-primary-light, 0.5),
      rgba($color-primary-light, 0.5)
    ),
    url(../../img/milky-way.jpg);
  background-size: cover;
  background-attachment: fixed;
}
