// font properties for body and headings
%heading {
  font-family: $font-heading;
  text-transform: uppercase;
  font-weight: 700;
}

body {
  font-family: $font-default;
  font-size: $default-font-size;
  line-height: 1.5;
  color: $color-white;

  @media only screen and (max-width: $bp-medium) {
    font-size: 2.1rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 2.6rem;
  }
}

.heading-1 {
  @extend %heading;
  font-size: 4rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 4.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 5rem;
  }
}

.heading-2 {
  @extend %heading;
  font-size: 3.2rem;
  font-weight: 400;

  @media only screen and (max-width: $bp-medium) {
    font-size: 3.7rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 4.2rem;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 2.3rem;
  font-weight: 700;

  @media only screen and (max-width: $bp-medium) {
    font-size: 2.8rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 3.3rem;
  }
}
