// font properties for body and headings
%heading {
  font-family: $font-heading;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  color: $color-white;
  font-family: $font-default;
  font-size: $default-font-size;
  line-height: 1.5;
}

.heading-1 {
  @extend %heading;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.7rem;

  @media only screen and (max-width: $bp-smallest) {
    font-size: 3.5rem;
  }
}

.heading-2 {
  @extend %heading;
  color: $color-secondary;
  font-size: 3.2rem;
  font-weight: 700;

  @media only screen and (max-width: $bp-smallest) {
    font-size: 2.8rem;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 2.3rem;
  font-weight: 700;
}
