.u-text-center {
  text-align: center !important;
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-lg {
  margin-bottom: 3rem !important;
}

.u-margin-top-sm {
  margin-top: 1.5rem !important;
}

.u-margin-top-md {
  margin-top: 2.5rem !important;
}

.u-margin-top-lg {
  margin-top: 3rem !important;
}
