.section-about {
  grid-row: 2 / 3;
  grid-column: center-start / center-end;
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem;
}

.section-projects {
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-primary-light
  );
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  padding: 5rem 0;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);

  &__projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 30rem));
    grid-gap: 5rem;
    justify-content: center;
  }
}

.section-skills {
  grid-row: 4 / 5;
  grid-column: center-start / center-end;
  padding: 5rem 0;

  &__skills {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: center;
    align-content: center;
    grid-gap: 7rem;
  }
}

.section-contact {
  background-color: $color-tertiary-light;
  grid-row: 5 / 6;
  grid-column: center-start / center-end;
}
